/* Mengatur gaya umum untuk seluruh halaman */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Mengatur gaya untuk card */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 90%;
    max-width: 600px;
    margin: 20px;
}

/* Mengatur gaya untuk kontainer utama */
.container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

/* Mengatur gaya untuk bagian kiri */
.left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.left-section img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}

/* Mengatur gaya untuk bagian kanan */
.right-section {
    flex: 2;
    padding: 20px;
}

.right-section h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.right-section a {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: #fff;
    background-color: #25d366;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.right-section a:hover {
    background-color: #1da851;
}

.right-section p{
    font-size: 1.1em;
    color: #666;
}

